body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #c79a9a;
    color: #fff;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 200px;
  }

  nav a {
    color: #613c3c;
    font-weight: bold;
    text-decoration: none;
  }
  
  .About {
    margin: 50px 50px;
    padding: 50px 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.Javascript img {
    max-height: 200px;
    }
     


.Contact {
    margin-top: 50px;
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    text-align: left;
    background-color: #c79a9a;
    color: aliceblue;
}


