html {
  background-color: #efefef;
}




body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  color: skyblue;
}

header {
    padding: 20px;
  border-bottom: rgb(124, 124, 124);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #efefef;
  color: #a9a9a9;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 250px;
  padding: 20px;
}

nav a {
  color: #050505;
  font-weight: bold;
  text-decoration: none;
}

.About {
  margin: 50px 50px;
  padding: 50px 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: skyblue;
  color: #000000;
}

.Work {
   justify-content: center;
   display: flex;
   color: black;
   background-color: skyblue;
}

#image-1 {
  height: 200px;
  width: 300px;
}

#image-2{
  height: 200px;
  width: 300px;
}

#image-3{
  height: 200px;
  width: 300px;
}

#image-4{
  height: 200px;
  width: 300px;
}


.Information {
  
  margin-top: 50px;
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 10px;
  text-align: left;
  background-color: #efefef;
}

